@use 'styles/variables.scss' as var;
@use 'styles/mixins.scss';

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__input {
    width: 100%;

    padding: 32px;

    border-radius: 56px;

    background-color: var.$color-grey-background;
    border: 1px solid transparent;
    outline: none;

    @include mixins.inputFont;
    color: var.$color-black;

    transition: border-color 0.2s ease;

    &::placeholder {
      color: var.$color-grey-input;
    }

    &:focus,
    &:hover {
      border-color: var.$color-blue-main;
    }
  }
}
