$color-black: #222735;

$color-grey-light: #d0d0d7;
$color-grey-background: #f3f3f5;
$color-grey-main: #91939a;
$color-grey-input: #b3b6bb;

$color-orange: #ff9b5a;
$color-orange-background: #ffe6d5;
$color-orange-text: #fa7924;
$color-orange-subtext: #cb5500;

$color-blue-main: #0c6cf8;
$color-blue-background: #ecf3fe;

$color-green-main: #5ca005;
$color-green-background: #edffd5;

$color-white: #ffffff;
